/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Style */
body {
    font: 16px/28px 'Montserrat', arial, sans-serif;
    background-color: #16161a;
    color: #fffffe;
}


.container {
    width: 800px;
    margin: auto;
    background-color: #72757e;
}

.header {
    padding: 40px;
}

.header .judul {
    font-size: 54px;
    font-weight: bold;
}

.header ul li {
    display: inline-block;
    margin-top: 40px;
    margin-right: 10px;
}

.header a {
    text-decoration: none;
    color: #fffffe;
    padding: 3px;
}

.header a:hover {
    background-color: #16161a;
    color: #fffffe;
}

.hero {
    height: 280px;
    background-image: url(images/hero.png);
    background-size: cover;
    background-position: 0 -100px;
    border-top: 5px solid black;
    border-bottom: 5px solid #fffffe;
    margin-top: -20px;
}

.content {
    padding: 28px;
}

.content h2 {
    font-size: 27px;
    font-weight: bold;
}

.content .penulis {
    font-size: 13px;
}

.content .penulis a {
    text-decoration: none;
    color: black;
}

.content .penulis a:hover {
    background-color: black;
    color: white;
}

.content p {
    margin-bottom: 20px;
    font-size: 18px;
    letter-spacing: 0.1px;
}

.footer {
    background-color: #94a1b2;
    padding: 15px;
}

.footer .copy {
    text-align: center;
    font-size: 18px;
}